@import '../../settings/settings';

.types{
    position: relative;
    margin-top: -2%;
    margin-bottom: 5%;
    overflow-x: scroll;
    &::-webkit-scrollbar{
        display: none;
    }
    
    @media screen and(max-width:700px) {
        margin-top: -15%;
    }
    .center{
        a{
            padding: 10px;
            margin: 2%;
            border-radius: 30px;
            color: $defaultText;
            font-weight: bold;
            background: linear-gradient(to top left,$baseRose,rgb(77, 68, 68));
            cursor: pointer;
            &:hover{
                opacity: 0.85;
            }
        }
        .active{
            background:  lighten($color: $baseRose, $amount: 4);
            color: $links*1.3;
            font-weight: bolder;
        }
    }
}