@import '../../settings/settings';

.notification{
    background: $defaultText;
    width: 15%;
    border-radius: 5px;
    position: absolute;
    top:5%;
    left:48.5%;
    transform: translate(-50%,-5%);
    display: flex;
    flex-direction: row;
    height: 55px;
    border: 3px solid $defaultText;
    @media screen and (max-width:1500px){
        width: 20%;
    }
    div{
        &:first-child{
            flex: 0.3;
            height: 100%;
            font-size: 25px;
            padding: 2px 0px;
            text-align: center;
            background: $baseBackgroung;
            color: $baseRose;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        &:last-child{
            flex: 0.6;
            display: grid;
            text-align: center;
            font-weight: bolder;
            span{
                background: $baseRose;
                width: 116.5%;
                height: 25px;
                font-size: 15px;
                border-bottom-right-radius: 5px;
                color: $baseBackgroung;
                @media screen and (max-width:1200px) {
                    font-size: 10px;
                }
                &:first-child{
                    background: $baseBackgroung;
                    border-radius: 0;
                    border-top-right-radius: 5px;
                    color: $baseRose;
                }
            }
        }
    }
}