@import'../../scss/settings/settings';

.types{
    position: relative;
    margin-top: -2%;
    margin-bottom: 5%;
    .center{
        a{
            padding: 10px;
            margin: 2%;
            border: 2px solid $baseRose;
            border-radius: 30px;
            color: $defaultText;
            font-weight: bold;
            // background: darken($color: $baseGrey , $amount: 100%);
            background: linear-gradient(to top right, $baseHeader/2,$baseRose/5,$baseHeader/2);
            
            cursor: pointer;
            &:hover{
                border: 2px solid $defaultText;
            }
        }
        .active{
            background:  lighten($color: $baseRose, $amount: 4);
            color: $links;
            font-weight: bolder;
            &:hover{
                border: 2px solid $links;
            }
        }
    }
}