@import'../settings/settings';

nav{
    display: flex;
    padding: 70px 20px;
    background: $headerWave no-repeat;
    // background:pink;
    background-size: cover;
    height: 40vh;
    box-shadow: none;
    position: sticky;
    transition: 1s;

    @media screen and (max-width:1000px){
        height: 40vh;
    }

    .title{
        flex-grow: 1;
        margin-left: 10px;
        font-size: 0.6em;
    }
    h5{
        color: $links;
        font-weight: bold;
        font-family: 'Nixie One', cursive;
        border-left: none;
        padding: 22px 20px;
        margin-top: -0%;
        position: relative;
        left: -1%;
    }
    .logo{
        z-index: 1;
        img{
            width:80px;
            border-radius: 50%;
            margin:  -18% 0 0 5%;
            opacity: 0.8;
        }
    }
    ul{
        font-family: 'Josefin Slab', serif;
        .cart{
            a{
                position: absolute;
                left: -20%;
                top: 2%;
                cursor: pointer;
                transition: 0.5s;
                
                &:hover{
                    transform: rotate(40deg);
                }
                
                .cart-notification{
                    position: absolute;
                    top:15%;
                    right: 15%;
                    color: $baseRose;
                    font-size:13px;
                }
            }
        }
        .logout{
            color: $baseRose/1.5;
            font-weight: bold;
            cursor: pointer;
            transition: 1s;
            font-size: 18px;

            &:hover{
                transform: rotate(360deg);
                color: $links
            }
        }

        li{
            margin: 0px 10px;
            a{
                color: $links;
                font-weight: bolder;
                transition: 0.5s;
                &:hover{
                    color: $baseRose;
                    background: transparent;
                }
                
            }
        }
    }
}
