@import '../settings/settings';
.container{
    padding: 10px;
    form{
        background: pink;
        width: 50%;
        margin: 0 auto;
        padding: 20px;
        font-family: 'Nixie One', cursive;

        h3{
            text-align: center;
            color: $defaultText;
            margin-bottom: 10%;
        }

        select{
            width: 30%;
            font-family: 'Nixie One', cursive;
        }

        .input-field{
            width: 96%;
            label{
                font-weight: bold;
            }
            input{
                color: $defaultText;
                background: rgba(255, 255, 255, 0.356);
                padding: 0 10px;
            }
            .active{
                background: none;
            }
        }

        .error{
            text-align: center;
            color: $defaultText;
        }

        button{
            padding: 10px;
            margin-top: 3%;
        }
    }
}
