//COLORS
$baseRose: orange;
$basePurple : rgb(54, 6, 54);
$baseBackgroung:#333;
$errorColor: rgb(250, 66, 66);
$defaultText: white; 
$baseGrey:rgba(114, 114, 114, 0.514);

$headerWave: url('../../assets/wave.svg');